    <mat-card>
        <mat-card-content>
            <form (ngSubmit)="onSubmit()" class="container">
                <mat-form-field class="form-element">
                    <label for="name">Search: </label>
                    <input matInput id="name" [(ngModel)]="search.name" placeholder="name" [ngModelOptions]="{standalone: true}">
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Price</mat-label>
                    <mat-select>
                        <mat-option>100,000</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="form-element">
                    <mat-label>Beds</mat-label>
                    <mat-select>
                        <mat-option>1</mat-option>
                        <mat-option>2</mat-option>
                    </mat-select>
                </mat-form-field>

            <button mat-flat-button type="submit"  color="primary"  >Submit</button>
            
           </form>
        </mat-card-content>
    </mat-card>

