<mat-nav-list>
    <mat-list-item (click)="closeSidenav()" routerLink="/" routerLinkActive="active-link">
      <mat-icon matListIcon>home</mat-icon>
      <span matLine>Home</span>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/list" routerLinkActive="active-link">
      <mat-icon matListIcon>info</mat-icon>
      <span matLine>List</span>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/add" routerLinkActive="active-link">
      <mat-icon matListIcon>contact_mail</mat-icon>
      <span matLine>Add</span>
    </mat-list-item>
    <mat-list-item (click)="closeSidenav()" routerLink="/login" routerLinkActive="active-link">
      <mat-icon matListIcon>contact_mail</mat-icon>
      <span matLine>Login</span>
    </mat-list-item>
  </mat-nav-list>
  