<app-search-form (propertySearch)="propertySearch($event, 0)" [searchForm]="searchForm"></app-search-form>
<app-map *ngIf="totalResults != 0"></app-map>
<br />&nbsp;<br />  
<ng-container *ngIf="totalResults != 0">

    <strong>Total: {{totalResults}}</strong>
</ng-container>
<app-search-results class="item" [results]="results.properties"></app-search-results>

<ng-container *ngIf="totalResults != 0">
    <mat-paginator [length]="totalResults"
    [pageSize]="10"
    (page)="getServerData($event)"
     aria-label="Select page">
</mat-paginator>
</ng-container>
